@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Skill highlighting styles */
.skill-highlight {
  background-color: #dbeafe !important;
  padding: 1px 2px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  transition: background-color 0.2s !important;
  border: 1px solid #93c5fd !important;
}

.skill-highlight:hover {
  background-color: #bfdbfe !important;
}

.skill-highlight.general {
  background-color: #bfdbfe !important;
}

.skill-highlight.specialised {
  background-color: #fbbf24 !important;
}

.skill-highlight.transferrable {
  background-color: #86efac !important;
}

input, select, button {
    color: fieldtext;
}