@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Skill highlighting styles */
.skill-highlight {
  background-color: var(--blue-100);
  padding: 1 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.skill-highlight:hover {
  background-color: var(--blue-200);
}

.skill-highlight.general {
  background-color: #bfdbfe;
}

.skill-highlight.specialised {
  background-color: #fbbf24;
}

.skill-highlight.transferrable {
  background-color: #86efac;
}

input, select, button {
    color: fieldtext;
}